* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  
}

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(white, #8de0fa, rgb(166, 247, 166), white);
}

.register-card {
  width: 450px;
  padding: 25px;
  border-radius: 18px;
  background-color: #ffffffdd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.register-title {
  text-align: center;
  color: #1dc223;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.register-field {
  display: flex;
  flex-direction: column;
}

.register-field label {
  font-weight: 600;
  margin-bottom: 4px;
}

.register-field input,
.register-field select,
.register-field textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #b3e5fc;
  background: #f8f9fa;
}

.register-btn {
  padding: 12px;
  border-radius: 10px;
  background-color: #70d457;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #48d963;
}

.register-error {
  color: red;
  text-align: center;
}

.register-login-link {
  text-align: center;
  font-size: 0.9rem;
}
